body{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
    background-color: palevioletred;
    color: rgb(247, 241, 243);
}

.list{
    display: grid;
    grid-column: 2/3;
    list-style-type: none;
}

.listItem{
    border: 2px solid rgb(215, 34, 94);
    color: rgb(247, 241, 243);
    border-radius: 5px;
    background-color: rgb(215, 138, 164);

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}

.listItem a{
    text-decoration: none;
    color: rgb(247, 241, 243);
}

.listItem a:hover{
    text-decoration: none;
    color: rgb(250, 0, 83);
}

#navigation{
    color: rgb(247, 241, 243);
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 15px;

    grid-auto-flow: row dense;
}
#navigation a{
    text-decoration: none;
    color: rgb(247, 241, 243);
    border: 3px solid rgb(215, 34, 94);
    border-radius: 5px;
    background-color: rgb(215, 138, 164);
    padding: 5px;
    margin: 5px;
}
#navigation a:hover{
    background-color: rgb(243, 169, 195);
    padding: 15px;
}